.corpo {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000}
.corpobottone { font-family: "Times New Roman", Times, serif; font-size: 14px; color: #000000; text-decoration: none; font-weight: normal}
.corpo+ {
font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000
}
